<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('职位分类信息')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <!--<div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            分类名字  ：<input type="text" name="jobCategory"/>
                        </li>

                        <li>
                            状态  0  可用  1 停用：<input type="text" name="status"/>
                        </li>

                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>-->

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:configJobCategory:add">
                <i class="fa fa-plus"></i> 添加
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('config:configJobCategory:edit')}]];
    var removeFlag = [[${@permission.hasPermi('config:configJobCategory:remove')}]];
    var prefix = ctx + "config/configJobCategory";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "职位分类信息",
            columns: [
                {
                    field: 'id',
                    title: '主键',
                    visible: false
                },
                {
                    field: 'jobCategory',
                    title: '分类名字'
                },
                {
                    field: 'type',
                    title: '类型',
                    formatter: function (value, row, index) {
                        if (row.type == 0) {
                            return "普通分类"
                        } else {
                            return "跳转链接"
                        }
                    }

                },
                {
                    field: 'url',
                    title: 'H5链接'
                },
                {
                    field: 'status',
                    title: '状态',
                    formatter: function (value, row, index) {
                        if (row.status == 0) {
                            return '<a  href="javascript:void(0)" onclick="disable(\'' + row.id + '\')" <button class="btn btn-outline btn-primary">停用</button></a> ';
                        } else {
                            return '<a  href="javascript:void(0)" onclick="enable(\'' + row.id + '\')" <button class="btn btn-outline btn-danger">启用</button></a> ';
                        }
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>

<script>

    /* 停用 */
    function disable(id) {
        $.modal.confirm("确认设置取消吗？", function() {
            $.operate.post(prefix + "/edit", { "id": id, "status": 1 });
        })
    }

    /* 启用 */
    function enable(id) {
        $.modal.confirm("确认启用吗？", function() {
            $.operate.post(prefix + "/edit", { "id": id, "status": 0 });
        })
    }
</script>
</body>
</html>