<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<th:block th:include="include :: header('全部工作列表')" />
	<th:block th:include="include :: select2-css" />
	<th:block th:include="include :: bootstrap-select-css" />
</head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>

							<li>
								职位标题：<input type="text" name="title"/>
							</li>

							<li>
								<!--任务类型（服务员  收银员,关联jobTitledetail 的id ）：<input type="text" name="taskType"/>-->
								<input  type="button" value="任务类型(职位title):" onclick="getJobTitleList()"><select id="taskType" name ="taskType" class="form-control select2-hidden-accessible valid"></select>
							</li>



							<li>
								<input  type="button" value="职位所在地:" onclick="getCityList()"><select  id ="location" name ="location" class="form-control select2-hidden-accessible valid"  ></select>
							</li>

							<li>
								职位标签：
								<select name="lable" th:with="type=${@dict.getType('job_label')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>
							<li>
								职位分类：
								<select name="category" th:with="type=${@dict.getType('job_category')}">
									<option value="">所有</option>
									<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
								</select>
							</li>



							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	     <!--   <div class="btn-group-sm" id="toolbar" role="group">
				<a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:jobPosition:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="system:jobPosition:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:jobPosition:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:jobPosition:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>-->
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
	 <th:block th:include="include :: datetimepicker-js" />
	 <th:block th:include="include :: select2-js" />
	 <th:block th:include="include :: bootstrap-select-js" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:jobPosition:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:jobPosition:remove')}]];
        var prefix = ctx + "job/jobPosition";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "全部工作列表",
		        showExport: true,
                columns: [
				{
					field : 'id', 
					title : '主键',
					visible: false
				},

				{
					field : 'title', 
					title : '职位标题'
				},
				{
					field : 'type', 
					title : '类型'
				},
				{
					field : 'cleanType', 
					title : '结算方式'
				},
				{
					field : 'needPeople', 
					title : '招聘人数'
				},
				{
					field : 'money', 
					title : '薪资'
				},

				{
					field : 'jobTitle',
					title : '职位Title'
				},
                    /*{
                        field : 'workflow',
                        title : '工作流程'
                    },
                    {
                        field : 'jobDetail',
                        title : '职位详情'
                    },*/
				{
					field : 'address', 
					title : '工作详细地点'
				},
				{
					field : 'locationName',
					title : '位置'
				},
				{
					field : 'lableName',
					title : '职位标签'
				},
				{
					field : 'jobCategory',
					title : '职位分类'
				},
				{
					field : 'publishTime', 
					title : '发布时间'
				},
				{
					field : 'createTime', 
					title : '创建时间',
					sortable: true
				},
				{
					field : 'updateTime', 
					title : '修改时间',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
    </script>

	 <!--获取任务类型（职位Title）-->
	 <script>
         function getJobTitleList(){
             $("select[name='taskType']").empty();
             $.ajax({
                 type : "POST",
                 url :  window.location.protocol + '//' + window.location.host   + "/job/jobPosition/getJobTitleList",
                 dataType : "JSON",
                 data : {},
                 success : function(msg) {
                     //debugger;
                     $("select[name='taskType']").prepend("<option value=''>--请选择职位Title--</option>");//添加第一个option值
                     for (var i = 0; i < msg.length; i++) {
                         //如果在select中传递其他参数，可以在option 的value属性中添加参数
                         $("select[name='taskType']").append("<option value='"+msg[i].classificationId+"'>"+msg[i].name+"</option>");
                     }

                 },error:function(){
                     alert("获取数据失败","error");
                 }
             });
         }
         $(document).on("change","#type",function(){
             var value = obj.options[obj.selectedIndex].value
             var textValue = obj.options[obj.selectedIndex].text
             $(".taskType").find("option[text= textValue]").attr("selected",true);
         });

	 </script>


	 <!--获取城市信息-->
	 <script>
         function getCityList(){
             $("select[name='location']").empty();
             $.ajax({
                 type : "POST",
                 url :  window.location.protocol + '//' + window.location.host   + "/job/jobPosition/getCityList",
                 dataType : "JSON",
                 data : {},
                 success : function(msg) {
                     //debugger;
                     $("select[name='location']").prepend("<option value=''>--请选择城市--</option>");//添加第一个option值
                     for (var i = 0; i < msg.length; i++) {
                         //如果在select中传递其他参数，可以在option 的value属性中添加参数
                         $("select[name='location']").append("<option value='"+msg[i].id+"'>"+msg[i].name+"</option>");
                     }

                 },error:function(){
                     alert("获取数据失败","error");
                 }
             });
         }
         $(document).on("change","#type",function(){
             var value = obj.options[obj.selectedIndex].value
             var textValue = obj.options[obj.selectedIndex].text
             $(".location").find("option[text= textValue]").attr("selected",true);
         });

	 </script>


	 <!--获取职位标签信息-->
	 <script>
         function getJobLable(){
             $("select[name='lable']").empty();
             $.ajax({
                 type : "POST",
                 url :  window.location.protocol + '//' + window.location.host   + "/job/jobPosition/getJobLabelList",
                 dataType : "JSON",
                 data : {},
                 success : function(msg) {
                     //debugger;
                     $("select[name='lable']").prepend("<option value=''>--请选择职位标签--</option>");//添加第一个option值
                     for (var i = 0; i < msg.length; i++) {
                         //如果在select中传递其他参数，可以在option 的value属性中添加参数
                         $("select[name='lable']").append("<option value='"+msg[i].id+"'>"+msg[i].lable+"</option>");
                     }

                 },error:function(){
                     alert("获取数据失败","error");
                 }
             });
         }
         $(document).on("change","#type",function(){
             var value = obj.options[obj.selectedIndex].value
             var textValue = obj.options[obj.selectedIndex].text
             $(".lable").find("option[text= textValue]").attr("selected",true);
         });

	 </script>

	 <!--获取职位分类信息-->
	 <script>
         function getJobCategory(){
             $("select[name='category']").empty();
             $.ajax({
                 type : "POST",
                 url :  window.location.protocol + '//' + window.location.host   + "/job/jobPosition/getJobCategoryList",
                 dataType : "JSON",
                 data : {},
                 success : function(msg) {
                     //debugger;
                     $("select[name='category']").prepend("<option value=''>--请选择职位分类--</option>");//添加第一个option值
                     for (var i = 0; i < msg.length; i++) {
                         //如果在select中传递其他参数，可以在option 的value属性中添加参数
                         $("select[name='category']").append("<option value='"+msg[i].id+"'>"+msg[i].jobCategory+"</option>");
                     }

                 },error:function(){
                     alert("获取数据失败","error");
                 }
             });
         }
         $(document).on("change","#type",function(){
             var value = obj.options[obj.selectedIndex].value
             var textValue = obj.options[obj.selectedIndex].text
             $(".category").find("option[text= textValue]").attr("selected",true);
         });

	 </script>
</body>
</html>